@import url(owl.carousel.min.css);
@import url(owl.theme.default.css);
@font-face {
  font-family: 'Roboto 400';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans 700';
  src: url("../fonts/AlegreyaSans-Bold.eot");
  src: url("../fonts/AlegreyaSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/AlegreyaSans-Bold.woff") format("woff"), url("../fonts/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans 500';
  src: url("../fonts/AlegreyaSans-Medium.eot");
  src: url("../fonts/AlegreyaSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("../fonts/AlegreyaSans-Medium.woff") format("woff"), url("../fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans 300';
  src: url("../fonts/AlegreyaSans-Light.eot");
  src: url("../fonts/AlegreyaSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Light.woff2") format("woff2"), url("../fonts/AlegreyaSans-Light.woff") format("woff"), url("../fonts/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans 400';
  src: url("../fonts/AlegreyaSans-Regular.eot");
  src: url("../fonts/AlegreyaSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff"), url("../fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  height: 100%;
  box-sizing: border-box; }
  body.lock {
    overflow-y: hidden; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.main {
  flex: 1 1 auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.header {
  position: relative; }
  .header .logo_row {
    background: #FFFFFF;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
    padding: 25px 0 25px 0;
    margin-bottom: 33px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .header .logo_row {
        padding: 10px; } }
    .header .logo_row .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .logo_row .container .header_burger {
        display: none;
        position: fixed;
        width: 30px;
        height: 20px;
        z-index: 100; }
        @media screen and (max-width: 768px) {
          .header .logo_row .container .header_burger {
            display: block; } }
        .header .logo_row .container .header_burger span {
          position: absolute;
          background-color: #2E8B1F;
          left: 0;
          width: 100%;
          height: 2px;
          top: 9px;
          transition: all 0.4s ease 0s; }
        .header .logo_row .container .header_burger:before, .header .logo_row .container .header_burger:after {
          content: "";
          background-color: #2E8B1F;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.4s ease 0s; }
        .header .logo_row .container .header_burger:before {
          top: 0; }
        .header .logo_row .container .header_burger:after {
          bottom: 0; }
        .header .logo_row .container .header_burger.active:before {
          transform: rotate(45deg);
          top: 9px; }
        .header .logo_row .container .header_burger.active:after {
          transform: rotate(-45deg);
          bottom: 9px; }
        .header .logo_row .container .header_burger.active span {
          transform: scale(0); }
      @media screen and (max-width: 768px) {
        .header .logo_row .container .logo {
          margin: auto; } }
      .header .logo_row .container .logo img {
        display: block;
        width: 100%; }
        @media screen and (max-width: 900px) {
          .header .logo_row .container .logo img {
            width: 80%; } }
      @media screen and (max-width: 768px) {
        .header .logo_row .container .header_pages {
          display: none; } }
      .header .logo_row .container .header_pages ul {
        display: flex; }
        .header .logo_row .container .header_pages ul li {
          margin-right: 69px; }
          @media screen and (max-width: 980px) {
            .header .logo_row .container .header_pages ul li {
              margin-right: 40px; } }
          @media screen and (max-width: 800px) {
            .header .logo_row .container .header_pages ul li {
              margin-right: 25px; } }
          .header .logo_row .container .header_pages ul li a {
            font-family: 'Alegreya Sans 400', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.015em;
            color: #000000;
            display: inline-block; }
            .header .logo_row .container .header_pages ul li a:hover {
              opacity: 0.5; }
            @media screen and (max-width: 850px) {
              .header .logo_row .container .header_pages ul li a {
                font-size: 15px; } }
          .header .logo_row .container .header_pages ul li:last-of-type {
            margin-right: 0; }
      .header .logo_row .container .languages_tel {
        display: flex;
        align-items: center; }
        .header .logo_row .container .languages_tel .language-switch {
          margin-right: 50px; }
          @media screen and (max-width: 1050px) {
            .header .logo_row .container .languages_tel .language-switch {
              display: none; } }
        .header .logo_row .container .languages_tel .tel {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .header .logo_row .container .languages_tel .tel .mob_tel {
            font-family: 'Roboto 400', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.015em;
            color: #000000;
            display: block;
            margin-bottom: 5px; }
            @media screen and (max-width: 768px) {
              .header .logo_row .container .languages_tel .tel .mob_tel {
                display: none; } }
          .header .logo_row .container .languages_tel .tel .tel_btn {
            font-family: 'Roboto 400', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.015em;
            color: white;
            padding: 7px 10px;
            background-color: #2E8B1F;
            display: block;
            border-radius: 20px; }
            .header .logo_row .container .languages_tel .tel .tel_btn:hover {
              opacity: 0.8; }
            @media screen and (max-width: 768px) {
              .header .logo_row .container .languages_tel .tel .tel_btn {
                display: none; } }
  .header .menu_line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 85px; }
    @media screen and (max-width: 768px) {
      .header .menu_line {
        border-bottom: inherit; } }
  .header .menu {
    position: relative;
    z-index: 10; }
    .header .menu .burger_logo {
      display: none; }
      @media screen and (max-width: 768px) {
        .header .menu .burger_logo {
          display: block; } }
      .header .menu .burger_logo img {
        display: block;
        width: 30%;
        margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .header .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e8e8e8;
        transition: all 0.4s ease 0s;
        padding: 80px 15px; } }
    .header .menu.active {
      top: 0;
      transition: all 0.4s ease 0s; }
  .header .menu a {
    text-decoration: none; }
  .header .menu a.parent {
    margin: 0 30px 0 0; }
  .header .menu li {
    position: relative;
    list-style: none; }
  .header .menu__list {
    display: flex;
    margin-bottom: 32px; }
  .header .menu__list > li {
    margin: 0 80px 0 0; }
  .header .menu__link {
    font-family: 'Alegreya Sans 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000; }
  .header .sub-menu__list {
    display: none;
    min-width: 400px;
    position: absolute;
    left: 0;
    top: 37px;
    padding: 24px 4px 24px 0;
    background: #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px; }
    @media screen and (max-width: 768px) {
      .header .sub-menu__list {
        border-radius: inherit; } }
  .header .sub-menu__list > li:before {
    content: "\f6c0";
    display: inline-block;
    font-family: "Font Awesome 6 Free", serif;
    font-weight: 1000;
    font-size: 20px;
    margin: 0 0 0 20px; }
  .header .sub-menu__list > li:hover {
    background: #2E8B1F;
    opacity: 0.8;
    border-radius: 0 50px 50px 0; }
  .header .sub-menu__link {
    font-family: 'Alegreya Sans 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
    padding: 5px 0 5px 0; }
  .header .arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 10px solid #2E8B1F;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .header .arrow.active {
    transform: rotate(-180deg); }
  .header .sub-menu__arrow.arrow {
    right: 10px;
    border-left: 10px solid #000;
    border-right: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; }
  @media (max-width: 767px) {
    .header .wrapper {
      padding: 15px; }
    .header .menu__list {
      display: block; }
    .header .menu__list > li {
      margin: 0 0 10px 0; }
    .header .sub-menu__list {
      position: relative;
      left: 0;
      top: 0; }
    .header .sub-menu__arrow.arrow {
      right: 10px;
      top: 15px;
      border-bottom: none;
      border-left: 10px solid transparent;
      border-top: 10px solid #000;
      border-right: 10px solid transparent; } }

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block; }

body.touch .sub-menu__list.open {
  display: block; }

body.touch .arrow {
  display: block; }

.slider {
  margin-bottom: 85px; }
  .slider .container .slider_item {
    background-image: url("../images/BG-min.jpg");
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
    height: 466px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .slider .container .slider_item {
        height: 300px; } }
    .slider .container .slider_item h2 {
      font-family: 'Alegreya Sans 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      color: #FFFFFF;
      margin-bottom: 30px; }
    .slider .container .slider_item a {
      font-family: 'Alegreya Sans 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 117.66%;
      text-align: center;
      color: #FFFFFF;
      padding: 16px 45px;
      background: #2E8B1F;
      border-radius: 60px; }

.popular_models {
  margin-bottom: 153px; }
  .popular_models .popular_model_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 5px; }
    @media screen and (max-width: 849px) {
      .popular_models .popular_model_items {
        justify-content: space-around; } }
    .popular_models .popular_model_items .popular_model_item {
      flex-basis: 270px;
      flex-shrink: 0;
      background: #FFFFFF;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      padding: 26px 0 40px 0; }
      @media screen and (max-width: 849px) {
        .popular_models .popular_model_items .popular_model_item {
          flex-basis: 300px; } }
      @media screen and (max-width: 635px) {
        .popular_models .popular_model_items .popular_model_item {
          flex-basis: 80%; } }
      .popular_models .popular_model_items .popular_model_item .item_img {
        max-width: 244px;
        width: 100%;
        height: 209px;
        margin: auto auto 10px; }
        .popular_models .popular_model_items .popular_model_item .item_img img {
          display: block;
          width: 100%; }
      .popular_models .popular_model_items .popular_model_item .item_name {
        margin: 0 32px 14px 32px; }
        .popular_models .popular_model_items .popular_model_item .item_name p {
          font-family: 'Alegreya Sans 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          color: #000000; }
          @media screen and (max-width: 450px) {
            .popular_models .popular_model_items .popular_model_item .item_name p {
              font-size: 22px; } }
      .popular_models .popular_model_items .popular_model_item .item_size {
        margin: 0 32px 14px 32px;
        display: flex; }
        .popular_models .popular_model_items .popular_model_item .item_size p, .popular_models .popular_model_items .popular_model_item .item_size span {
          font-family: 'Alegreya Sans 300', serif;
          font-style: normal;
          font-weight: 300;
          font-size: 22px;
          color: darkgray; }
          @media screen and (max-width: 450px) {
            .popular_models .popular_model_items .popular_model_item .item_size p, .popular_models .popular_model_items .popular_model_item .item_size span {
              font-size: 18px; } }
        .popular_models .popular_model_items .popular_model_item .item_size p {
          margin-right: 8px; }
      .popular_models .popular_model_items .popular_model_item .item_price {
        margin: 0 32px 5px 32px; }
        .popular_models .popular_model_items .popular_model_item .item_price p {
          font-family: 'Roboto 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 35px;
          color: #000000;
          text-align: center; }
      .popular_models .popular_model_items .popular_model_item .item_btn {
        display: flex;
        justify-content: center; }
        .popular_models .popular_model_items .popular_model_item .item_btn a {
          padding: 15px 50px;
          font-family: 'Alegreya Sans 300', serif;
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          color: #2E8B1F;
          border: 1px solid #2E8B1F;
          border-radius: 40px;
          transition: 0.1s ease; }
          @media screen and (max-width: 635px) {
            .popular_models .popular_model_items .popular_model_item .item_btn a {
              width: 90%;
              text-align: center; } }
          .popular_models .popular_model_items .popular_model_item .item_btn a:hover {
            background-color: #2E8B1F;
            color: white;
            transition: 0.1s ease; }

.about_us {
  margin-bottom: 50px; }
  .about_us h2 {
    font-family: 'Alegreya Sans 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    margin-bottom: 40px; }
  .about_us .about_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .about_us .about_row .about_left {
      padding: 41px 35px;
      flex-basis: 50%;
      background: #FFFFFF;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
      border-radius: 20px; }
      @media screen and (max-width: 1000px) {
        .about_us .about_row .about_left {
          flex-basis: 55%; } }
      @media screen and (max-width: 900px) {
        .about_us .about_row .about_left {
          flex-basis: 100%;
          margin-bottom: 20px; } }
      @media screen and (max-width: 600px) {
        .about_us .about_row .about_left {
          padding: 20px 20px; } }
      .about_us .about_row .about_left p {
        font-family: 'Alegreya Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #000000; }
        @media screen and (max-width: 450px) {
          .about_us .about_row .about_left p {
            font-size: 15px; } }
    .about_us .about_row .about_right {
      flex-basis: 40%;
      border-radius: 20px;
      overflow: hidden; }
      @media screen and (max-width: 900px) {
        .about_us .about_row .about_right {
          flex-basis: 100%; } }
      .about_us .about_row .about_right img {
        display: block;
        width: 100%; }

.contact_us {
  margin-bottom: 35px; }
  .contact_us .container {
    display: flex;
    flex-wrap: wrap; }
  .contact_us .contact_left {
    padding: 23px 55px 23px 55px;
    flex-basis: 60%;
    background: #FFFFFF;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px 0 0 20px; }
    @media screen and (max-width: 1050px) {
      .contact_us .contact_left {
        flex-basis: 50%;
        padding: 23px 20px; } }
    @media screen and (max-width: 800px) {
      .contact_us .contact_left {
        flex-basis: 100%;
        border-radius: 20px;
        margin-bottom: 20px; } }
  .contact_us .tel {
    margin-bottom: 25px; }
  .contact_us .email {
    margin-bottom: 25px; }
  .contact_us .working_time {
    margin-bottom: 25px; }
  .contact_us h3 {
    font-family: 'Alegreya Sans 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin-bottom: 30px; }
    @media screen and (max-width: 1050px) {
      .contact_us h3 {
        font-size: 30px; } }
  .contact_us .tittle {
    font-family: 'Alegreya Sans 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin-bottom: 12px; }
    @media screen and (max-width: 900px) {
      .contact_us .tittle {
        font-size: 20px; } }
  .contact_us .sales, .contact_us .logistic {
    font-family: 'Alegreya Sans 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: darkgray; }
    @media screen and (max-width: 900px) {
      .contact_us .sales, .contact_us .logistic {
        font-size: 16px; } }
    .contact_us .sales > span, .contact_us .logistic > span {
      font-family: 'Alegreya Sans 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #000000;
      margin-left: 10px; }
      @media screen and (max-width: 900px) {
        .contact_us .sales > span, .contact_us .logistic > span {
          font-size: 16px; } }
  .contact_us .heo > span {
    font-family: 'Alegreya Sans 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000; }
    @media screen and (max-width: 1050px) {
      .contact_us .heo > span {
        font-size: 16px; } }
  .contact_us .contact_right {
    flex-basis: 40%;
    background: #FFFFFF;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0 20px 20px 0; }
    @media screen and (max-width: 1050px) {
      .contact_us .contact_right {
        flex-basis: 50%; } }
    @media screen and (max-width: 800px) {
      .contact_us .contact_right {
        flex-basis: 100%;
        border-radius: 20px;
        height: 300px;
        overflow: hidden; } }

.about {
  padding-bottom: 80px; }
  .about h1 {
    font-family: 'Alegreya Sans 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    margin-bottom: 20px; }
  .about p {
    font-family: 'Alegreya Sans 400';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000; }

.payment h1 {
  font-family: 'Alegreya Sans 500', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  margin-bottom: 26px; }
.payment img {
  display: block;
  width: 100%;
  margin-bottom: 46px; }
.payment h2 {
  font-family: 'Alegreya Sans 400', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  margin-bottom: 26px; }
  @media screen and (max-width: 500px) {
    .payment h2 {
      font-size: 35px; } }
.payment p {
  font-family: 'Alegreya Sans 400', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 171.7%;
  color: #000000;
  margin-bottom: 26px; }
  @media screen and (max-width: 500px) {
    .payment p {
      font-size: 17px; } }

.guarantees {
  background-color: burlywood; }
  .guarantees h1 {
    font-family: 'Alegreya Sans 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: yellow;
    text-align: center; }
  .guarantees span {
    color: cornflowerblue; }

.contacts {
  padding-bottom: 80px; }
  .contacts h1 {
    font-family: 'Alegreya Sans 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    margin-bottom: 45px; }
  .contacts .info_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .contacts .info_contact {
        justify-content: center; } }
    .contacts .info_contact .contact_item {
      flex-basis: 45%;
      background: #FFFFFF;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 49px 30px 49px 30px;
      margin-bottom: 40px; }
      @media screen and (max-width: 800px) {
        .contacts .info_contact .contact_item {
          flex-basis: 48%; } }
      @media screen and (max-width: 768px) {
        .contacts .info_contact .contact_item {
          flex-basis: 80%; } }
      @media screen and (max-width: 400px) {
        .contacts .info_contact .contact_item {
          padding: 20px; } }
      .contacts .info_contact .contact_item .contact_item_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; }
        .contacts .info_contact .contact_item .contact_item_info .left_side h4 {
          font-family: 'Alegreya Sans 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          color: #000000;
          margin-bottom: 12px; }
          @media screen and (max-width: 930px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side h4 {
              font-size: 20px; } }
          @media screen and (max-width: 768px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side h4 {
              font-size: 25px; } }
        .contacts .info_contact .contact_item .contact_item_info .left_side p {
          font-family: 'Alegreya Sans 300', serif;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          color: darkgrey;
          display: inline-block; }
          @media screen and (max-width: 768px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side p {
              font-size: 18px; } }
          @media screen and (max-width: 400px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side p {
              font-size: 15px; } }
        .contacts .info_contact .contact_item .contact_item_info .left_side a {
          font-family: 'Alegreya Sans 500', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #000000;
          margin-left: 20px; }
          @media screen and (max-width: 930px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side a {
              font-size: 16px; } }
          @media screen and (max-width: 768px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side a {
              font-size: 20px; } }
          @media screen and (max-width: 400px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side a {
              margin-left: inherit;
              font-size: 15px; } }
        .contacts .info_contact .contact_item .contact_item_info .left_side span {
          font-family: 'Alegreya Sans 500', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #000000;
          margin-left: 50px; }
          @media screen and (max-width: 930px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side span {
              font-size: 16px; } }
          @media screen and (max-width: 768px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side span {
              font-size: 20px; } }
          @media screen and (max-width: 400px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side span {
              font-size: 15px; } }
        .contacts .info_contact .contact_item .contact_item_info .left_side .contacts_location {
          margin-left: inherit;
          max-width: 80%; }
          @media screen and (max-width: 930px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side .contacts_location {
              font-size: 16px; } }
          @media screen and (max-width: 768px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side .contacts_location {
              font-size: 20px; } }
          @media screen and (max-width: 400px) {
            .contacts .info_contact .contact_item .contact_item_info .left_side .contacts_location {
              font-size: 16px; } }
        .contacts .info_contact .contact_item .contact_item_info .left_side .contact_mail {
          font-size: 16px;
          margin-left: 0; }
        .contacts .info_contact .contact_item .contact_item_info .right_side {
          display: flex;
          align-items: center; }
          @media screen and (max-width: 550px) {
            .contacts .info_contact .contact_item .contact_item_info .right_side {
              display: none; } }
  .contacts .left_side_row {
    margin-bottom: 12px; }
  @media screen and (max-width: 930px) {
    .contacts svg {
      width: 50px; } }
  @media screen and (max-width: 768px) {
    .contacts svg {
      width: 80px; } }
  .contacts .contact_form_bg {
    background: #FFFFFF;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 68px 20px;
    text-align: center;
    margin-bottom: 40px; }
    .contacts .contact_form_bg h2 {
      font-family: 'Alegreya Sans 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #000000;
      margin-bottom: 45px; }
      @media screen and (max-width: 500px) {
        .contacts .contact_form_bg h2 {
          font-size: 30px; } }
    .contacts .contact_form_bg .form_row {
      display: flex;
      justify-content: space-around;
      margin: auto;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .contacts .contact_form_bg .form_row {
          flex-direction: column; } }
      .contacts .contact_form_bg .form_row label {
        display: none; }
      .contacts .contact_form_bg .form_row input {
        cursor: pointer;
        display: inline-block;
        padding: 10px 30px 10px 30px;
        border: 1px solid #2E8B1F;
        border-radius: 60px;
        outline: none;
        font-family: 'Alegreya Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px; }
        @media screen and (max-width: 900px) {
          .contacts .contact_form_bg .form_row input {
            padding: 10px 15px;
            font-size: 16px; } }
        @media screen and (max-width: 768px) {
          .contacts .contact_form_bg .form_row input {
            width: 70%;
            text-align: center;
            margin-bottom: 20px;
            font-size: 20px; } }
        @media screen and (max-width: 500px) {
          .contacts .contact_form_bg .form_row input {
            width: 90%; } }
      @media screen and (max-width: 768px) {
        .contacts .contact_form_bg .form_row .name {
          width: 100%; } }
      @media screen and (max-width: 768px) {
        .contacts .contact_form_bg .form_row .btn {
          width: 100%; } }
      @media screen and (max-width: 768px) {
        .contacts .contact_form_bg .form_row .tel_number {
          width: 100%; } }
      .contacts .contact_form_bg .form_row button {
        padding: 10px 50px;
        border-radius: 60px;
        outline: none;
        border: none;
        background: #2E8B1F;
        cursor: pointer;
        font-family: 'Alegreya Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF; }
        @media screen and (max-width: 900px) {
          .contacts .contact_form_bg .form_row button {
            font-size: 16px; } }
        @media screen and (max-width: 768px) {
          .contacts .contact_form_bg .form_row button {
            width: 70%;
            font-size: 20px; } }
        @media screen and (max-width: 500px) {
          .contacts .contact_form_bg .form_row button {
            width: 90%; } }
        @media screen and (max-width: 400px) {
          .contacts .contact_form_bg .form_row button {
            padding: 10px 20px;
            font-size: 18px; } }
  .contacts .contact_map {
    height: 340px;
    overflow: hidden; }

.footer {
  background: #FFFFFF;
  box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.25);
  padding: 40px 0 50px 0; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (max-width: 800px) {
      .footer .container {
        justify-content: space-around; } }
    .footer .container .footer_logo {
      max-width: 196px;
      width: 100%; }
      @media screen and (max-width: 800px) {
        .footer .container .footer_logo {
          max-width: inherit;
          flex-basis: 40%;
          order: 3; } }
      @media screen and (max-width: 400px) {
        .footer .container .footer_logo {
          flex-basis: 100%;
          order: 4;
          text-align: center; } }
      .footer .container .footer_logo img {
        display: block;
        width: 80%;
        margin-bottom: 40px; }
        @media screen and (max-width: 800px) {
          .footer .container .footer_logo img {
            width: 150px; } }
        @media screen and (max-width: 400px) {
          .footer .container .footer_logo img {
            margin: auto; } }
      .footer .container .footer_logo a {
        display: block;
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        opacity: 0.6;
        margin-bottom: 19px; }
        .footer .container .footer_logo a:first-of-type {
          opacity: 1; }
    .footer .container .footer_company {
      max-width: 190px;
      width: 100%; }
      @media screen and (max-width: 800px) {
        .footer .container .footer_company {
          max-width: inherit;
          flex-basis: 40%;
          order: 1; } }
      .footer .container .footer_company h4 {
        font-family: 'Alegreya Sans 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
        margin-bottom: 10px; }
      .footer .container .footer_company a {
        display: block;
        font-family: 'Alegreya Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        margin-bottom: 10px; }
        .footer .container .footer_company a:hover {
          opacity: 0.5; }
    .footer .container .footer_goods {
      max-width: 190px;
      width: 100%; }
      @media screen and (max-width: 800px) {
        .footer .container .footer_goods {
          max-width: inherit;
          flex-basis: 40%;
          order: 1;
          margin-bottom: 50px; } }
      .footer .container .footer_goods h4 {
        font-family: 'Alegreya Sans 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
        margin-bottom: 10px; }
      .footer .container .footer_goods a {
        display: block;
        font-family: 'Alegreya Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        margin-bottom: 10px; }
        .footer .container .footer_goods a:hover {
          opacity: 0.5; }
    .footer .container .footer_contacts {
      max-width: 190px;
      width: 100%; }
      @media screen and (max-width: 800px) {
        .footer .container .footer_contacts {
          max-width: inherit;
          flex-basis: 40%;
          order: 4;
          text-align: center; } }
      @media screen and (max-width: 400px) {
        .footer .container .footer_contacts {
          flex-basis: 100%;
          order: 3;
          text-align: center; } }
      .footer .container .footer_contacts p {
        font-family: 'Alegreya Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000; }
      .footer .container .footer_contacts .footer_tel {
        font-family: 'Alegreya Sans 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        color: #000000;
        margin-bottom: 12px;
        cursor: pointer;
        display: block; }
      .footer .container .footer_contacts .footer_social {
        display: flex;
        justify-content: space-between; }
        @media screen and (max-width: 800px) {
          .footer .container .footer_contacts .footer_social {
            justify-content: space-around; } }
        @media screen and (max-width: 400px) {
          .footer .container .footer_contacts .footer_social {
            margin-bottom: 30px; } }
        .footer .container .footer_contacts .footer_social a:hover:before {
          color: #2E8B1F; }
        .footer .container .footer_contacts .footer_social .inst:before {
          content: "\f16d";
          font-family: "Font Awesome 6 Brands", serif;
          font-weight: 400;
          font-size: 30px;
          color: black; }
        .footer .container .footer_contacts .footer_social .youtube:before {
          content: "\f167";
          font-family: "Font Awesome 6 Brands", serif;
          font-weight: 400;
          font-size: 30px;
          color: black; }
        .footer .container .footer_contacts .footer_social .fb:before {
          content: "\f39e";
          font-family: "Font Awesome 6 Brands", serif;
          font-weight: 400;
          font-size: 30px;
          color: black; }

.main_category_list {
  margin-bottom: 153px; }
  .main_category_list .model_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 5px; }
    @media screen and (max-width: 849px) {
      .main_category_list .model_items {
        justify-content: space-around; } }
    .main_category_list .model_items .model_item {
      flex-basis: 270px;
      flex-shrink: 0;
      background: #FFFFFF;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      padding: 26px 0 40px 0; }
      @media screen and (max-width: 849px) {
        .main_category_list .model_items .model_item {
          flex-basis: 300px; } }
      @media screen and (max-width: 635px) {
        .main_category_list .model_items .model_item {
          flex-basis: 80%; } }
      .main_category_list .model_items .model_item .item_img {
        max-width: 244px;
        width: 100%;
        height: 209px;
        margin: auto auto 10px; }
        .main_category_list .model_items .model_item .item_img img {
          display: block;
          width: 100%; }
      .main_category_list .model_items .model_item .item_name {
        margin: 0 32px 14px 32px; }
        .main_category_list .model_items .model_item .item_name p {
          font-family: 'Alegreya Sans 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          color: #000000; }
          @media screen and (max-width: 450px) {
            .main_category_list .model_items .model_item .item_name p {
              font-size: 22px; } }
      .main_category_list .model_items .model_item .item_size {
        margin: 0 32px 14px 32px;
        display: flex; }
        .main_category_list .model_items .model_item .item_size p, .main_category_list .model_items .model_item .item_size span {
          font-family: 'Alegreya Sans 300', serif;
          font-style: normal;
          font-weight: 300;
          font-size: 22px;
          color: darkgray; }
          @media screen and (max-width: 450px) {
            .main_category_list .model_items .model_item .item_size p, .main_category_list .model_items .model_item .item_size span {
              font-size: 18px; } }
        .main_category_list .model_items .model_item .item_size p {
          margin-right: 8px; }
      .main_category_list .model_items .model_item .item_price {
        margin: 0 32px 5px 32px; }
        .main_category_list .model_items .model_item .item_price p {
          font-family: 'Roboto 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 35px;
          color: #000000;
          text-align: center; }
      .main_category_list .model_items .model_item .item_btn {
        display: flex;
        justify-content: center; }
        .main_category_list .model_items .model_item .item_btn a {
          padding: 15px 50px;
          font-family: 'Alegreya Sans 300', serif;
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          color: #2E8B1F;
          border: 1px solid #2E8B1F;
          border-radius: 40px;
          transition: 0.1s ease; }
          @media screen and (max-width: 635px) {
            .main_category_list .model_items .model_item .item_btn a {
              width: 90%;
              text-align: center; } }
          .main_category_list .model_items .model_item .item_btn a:hover {
            background-color: #2E8B1F;
            color: white;
            transition: 0.1s ease; }
  .main_category_list .pagination {
    margin-top: 40px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 70px; }
  .main_category_list .category_seo_text h1 {
    font-family: 'Alegreya Sans 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    text-align: center; }
  .main_category_list .category_seo_text p {
    font-family: 'Alegreya Sans 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #000000; }

/*# sourceMappingURL=style.css.map */
